{% extends 'base.html' %} {% block main_content %}

<style>
    .page-title {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .top-bar {
        margin-bottom: 0.5em;
    }

    .row > .query-mode-switcher {
        padding-top: 1rem;
    }

    .search-bar
    {
        margin-bottom: 0.5em;
    }

</style>



<div class="row top-bar" id="top-bar">

      <div class="col s4 m3 offset-m1 l2 offset-l2 left" id="page-title">
        <div class="row page-title">
          <h5 class="center">空闲时间查询</h5>
        </div>
      </div>

      <div class="query-mode-switcher col s8 m7 l8 right" id="query-mode-switcher">
          <ul id="tabs-query-mode-switcher" class="tabs">
              <li class="tab col s3"><a class="active" href="#_Query_By_Member">按单个成员</a></li>
              <li class="tab col s3"><a href="#_Query_By_Time">按时间段</a></li>
              <li class="tab col s3"><a href="#_Query_By_Depart">按部门</a></li>
          </ul>
      </div>

</div>



<div id="_Query_By_Member" class="col s12">

    <div class="row search-bar">
      <div class="col s12 m10 offset-m1 l8 offset-l2">

        <div class="row search-bar valign-wrapper" id="search-bar">
          <div class="input-field col s3 left">
            <select name="depart" id="depart" required>
              <option value="" disabled selected>选择部门</option>
              <option value="财务部" id="fun">财务部</option>
              <option value="秘书部" id="sec">秘书部</option>
              <option value="人力资源部" id="hr">人力资源部</option>
              <option value="社团部" id="clb">社团部</option>
              <option value="行政监察部" id="sup">行政监察部</option>
              <option value="外联部" id="out">外联部</option>
              <option value="公共关系部" id="pr">公共关系部</option>
              <option value="宣传部" id="pub">宣传部</option>
              <option value="媒体部" id="med">媒体部</option>
              <option value="思存工作室" id="sicun">思存工作室</option>
              <option value="新媒体工作室" id="nmed">新媒体工作室</option>
              <option value="社团外联企划小组" id="cop">社团外联企划小组</option>
              <option value="文艺拓展部" id="ext">文艺拓展部</option>
              <option value="其它" id="o">其它</option>
            </select>

          </div>



          <div class="input-field col s3 valign-wrapper">
            <select class="" name="direction" required>
              <option value="id" selected>编号</option>
              <<option value="name">姓名</option>
            </select>
          </div>



          <div class="input-field col s5 valign-wrapper">
            <!-- TODO: why `onkeypress`??? Shouldn't it be EnterKeyToSearch() ??? -->
            <input name="title" type="text" class="validate" onkeypress="EnterKeyToSearch_Person()" required>
            <label for="title">关键字</label>
          </div>

          <button onclick="searchPerson()" class="btn-flat waves-effect waves-dark col s1 right valign"><i class="material-icons">search</i></button>


        </div>

      </div>
    </div>
    <div class="container freetime-picker-main">

      <div class="row search-result-bar" name="search-result">
        <!-- TODO: tempting to add search status here -->
        <span class="col s6 flow-text teal-text" style="font-size:1.4rem;" id="name">&nbsp;</span>
        <span class="col s6 flow-text teal-text" style="font-size:1.4rem;" id="id"></span>

      </div>

      <div class="row">
        <div class="col s1 freetime-head"></div>
        <div class="col s1 freetime-head center">周一</div>
        <div class="col s1 freetime-head center">周二</div>
        <div class="col s1 freetime-head center">周三</div>
        <div class="col s1 freetime-head center">周四</div>
        <div class="col s1 freetime-head center">周五</div>
        <div class="col s1 freetime-head center">周六</div>
        <div class="col s1 freetime-head center">周日</div>
      </div>

      <div class="row">
        <div class="col s1 freetime center">1-2</div>
        <div name="free-time-picker" id="MON-1-2" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="TUE-1-2" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="WED-1-2" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="THU-1-2" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="FRI-1-2" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SAT-1-2" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SUN-1-2" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col s1 freetime">3-4</div>
        <div name="free-time-picker" id="MON-3-4" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="TUE-3-4" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="WED-3-4" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="THU-3-4" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="FRI-3-4" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SAT-3-4" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SUN-3-4" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col s1 freetime">5-6</div>
        <div name="free-time-picker" id="MON-5-6" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="TUE-5-6" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="WED-5-6" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="THU-5-6" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="FRI-5-6" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SAT-5-6" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SUN-5-6" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col s1 freetime">7-8</div>
        <div name="free-time-picker" id="MON-7-8" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="TUE-7-8" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="WED-7-8" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="THU-7-8" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="FRI-7-8" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SAT-7-8" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SUN-7-8" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col s1 freetime">9-10</div>
        <div name="free-time-picker" id="MON-9-10" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="TUE-9-10" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="WED-9-10" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="THU-9-10" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="FRI-9-10" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SAT-9-10" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SUN-9-10" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col s1 freetime">11-12</div>
        <div name="free-time-picker" id="MON-11-12" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="TUE-11-12" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="WED-11-12" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="THU-11-12" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="FRI-11-12" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SAT-11-12" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
        <div name="free-time-picker" id="SUN-11-12" class="col s1 waves-effect waves-teal freetime btn-large">&nbsp;</div>
      </div>

    </div>

</div>


<div id="_Query_By_Time" class="col s12 red">
    <!-- TODO: Choose free-time on the table, then print people who satisfy it.
         TODO:  CARD format: Every depart has a card, writing the names of whom satisfy.   Each name should also contains their free-time chosen.
    -->

    <div class="divider"></div>

    <div class="container" id="result-table-Time">
        <!-- TODO: Print format: Use Card! -->
    </div>

</div>


<div id="_Query_By_Depart" class="col s12 blue">
    <!-- TODO: Pick up a depart, then print all those who satisfy as card.
         TODO: Depart PICKER: Use clickable floating tags.
         TODO:  CARD format: Every person has a card, writing their free-time.
    -->


    <div class="divider"></div>

    <div class="container" id="result-table-Depart">
        <!-- TODO: Print format: Use Card! -->
    </div>

</div>





<script id="materialize-controller">
    /**
     * Materialize Controller code
     */
    $(document).ready(function() {
        Materialize.updateTextFields();
        $('select').material_select();
    });
</script>

<script id="freetime-checker-controller" src="{{ url_for('static', filename='js/ugly_js_for_freetime_search.js') }}">
</script>


{% endblock %}
