{% extends "base.html" %}

{% block main_content %}
		<div class="container">
			<!-- don'no how 2 let <div> auto-fit -->
			<br><br>
			<div class="row">
				<form class="col s12 m8 offset-m2 l8 offset-l2" method="post">
					<h5 class="center">事务更变</h5>
					<div class="row">
						<div class="progress col s6 offset-s3">
							<div class="determinate green darken-1" style="width:100%"></div>
						</div>
					</div>
					<div class="input-field col s12">
						<input name="id" type="text" class="validate" value="{{ database[0][1] }}" disabled>
						<label for="id">社联编号</label>
					</div>
					<div class="input-field col s12">
						<input name="title" type="text" class="validate" value="{{ database[0][2] }}">
						<label for="title">标题</label>
					</div>
					<div class="input-field col s12">
						<textarea name="body" class="materialize-textarea">{{ database[0][3] }}</textarea>
						<label for="body">详细信息</label>
					</div>
					<button class="btn col s3 waves-effect waves-light right" type="submit">提交<i class="material-icons right">send</i>
					</button>
				</form>
			</div>
		</div>



	<script>
    /**
     * Materialize Controller code
     * */
        /* prefilling */
        $(document).ready(function() {
            Materialize.updateTextFields();
        });
	</script>

{% endblock %}