{% extends "base.html" %}

{% block main_content %}


<div class="container">
  <div class="container">
    <br>
    <div class="row valign-wrapper">
      <div class="input-field col s3 left">
        <select id="direction" name="direction">
          <option value="title" selected>标题</option>
          <option value="date">时间</option>
          <option value="depart">部门</option>
        </select>
      </div>
      <div class="input-field col s8">
        <input name="content" id="content" type="text" class="black-text" onkeypress="EnterKeyToSearch()" required>
      </div>
      <!-- original ver -->
      <!--button class="btn-flat waves-effect waves-dark col s1 right valign" type="submit"><i class="material-icons">search</i></button-->
      <!-- AJAX ver -->
      <button class="btn-flat waves-effect waves-dark col s1 right valign" onclick="search()"><i class="material-icons">search</i></button>
    </div>
  </div>

  <ul class="collection col s12 m8 offset-m2 l8 offset-l2 z-depth-1" id="result-container" style="padding:0; display:none"></ul>
</div>


<script src="../static/js/ugly_js_for_search_score.js"></script>
<script>
  /**
   * Materialize Controller code
   */
  $(document).ready(function(){
    $('.collapsible').collapsible();
    $('select').material_select();
  });
</script>

{% endblock %}
