{% extends "base.html" %}

{% block main_content %}

<div class="container">
	<!-- don'no how 2 let <div> auto-fit height -->
	<br><br>
	<div class="row">
		<h5 class="center">评分系统</h5>
		<div class="row">
			<div class="col s12 m8 offset-m2 l8 offset-l2">
				<ul class="tabs tabs-fixed-width">
					{% for each in data %}
					<li class="tab"><a href="#{{ each }}">{{ each }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% for each in data %}
			<form class="col s12 m8 offset-m2 l8 offset-l2" name="{{ each }}" id="{{ each }}" oninput="count_now()">
				<div class="row">
					<!--h6 class="col s12 center">自评部分</h6>
					<div class="divider col s12"></div-->
					<div class="input-field col s4">
						<input type="number" name="dim-self" id="dim-self" value="{{ each['B'] }}" required>
						<label for="dim-self">维度自评</label>
					</div>
					<div class="input-field col s4">
						<input type="number" name="act-self" id="act-self" required>
						<label for="act-self">活动自评</label>
					</div>
					<div class="input-field col s4">
						<input type="number" name="act-num" id="act-num" required>
						<label for="act-num">活动项数</label>
					</div>
					<div class="input-field col s6">
						<input type="number" name="dly-self" id="dly-self" required>
						<label for="dly-self">日常自评</label>
					</div>
					<div class="input-field col s6">
						<input type="number" name="dly-act" id="dly-act" required>
						<label for="dly-act">日常项目</label>
					</div>
					<div class="divider col s12"></div>
					<div class="input-field col s6">
						<input type="number" name="mntr-dim" id="mntr-dim" required>
						<label for="mntr-dim">部长维度评分</label>
					</div>
					<div class="input-field col s6">
						<input type="number" name="mntr-act" id="mntr-act" required>
						<label for="mntr-act">部长活动评分</label>
					</div>
					<div class="input-field col s6">
						<input type="number" name="attd" id="attd" required>
						<label for="attd">考勤得分</label>
					</div>
					<div class="input-field col s6">
						<input type="number" name="bonus" id="bonus" required>
						<label for="bonus">加分</label>
					</div>
					<div class="divider col s12"></div>
					<h6 class="col s6 left-align">自评部分总分：<span id="self-total"></span></h6>
					<h6 class="col s6 left-align">最后得分：<span id="total"></span></h6>
				</div>
				<button class="btn col s3 waves-effect waves-light right" onclick="submit_now('{{ each }}', this)">提交<i class="material-icons right">send</i></button>
			</form>
			{% endfor %}
		</div>
	</div>
</div>


<script src="../static/js/js_for_score_page.js"></script>
<script>
	$(document).ready(function() {
		Materialize.updateTextFields();
		$('ul.tabs').tabs();
	});
</script>

{% endblock %}
