{% extends "base.html" %}

{% block main_content %}

		<div class="container">
			<div class="container">
				<br>
				<!--form-->
					<div class="row valign-wrapper">
						<div class="input-field col s3 left">
							<select id="direction" name="direction" onchange="change_searchbox()">
								<option value="name">姓名</option>
								<option value="apart">寝室</option>
								<option value="depart">部门</option>
								<option value="id" selected>编号</option>
								<option value="school">学院</option>
							</select>
						</div>
						<div class="input-field col s8" id="content-wrap">
							<input name="content" id="content" type="text" class="black-text" onkeypress="EnterKeyToSearch()" required>
						</div>
						<!-- original -->
						<!--button class="btn-flat waves-effect waves-dark col s1 right valign" type="submit"><i class="material-icons">search</i></button-->
						<!-- AJAX ver -->
						<button class="btn-flat waves-effect waves-dark col s1 right valign" onclick="search()"><i class="material-icons">search</i></button>
					</div>
				<!--/form-->
			</div>

            <!-- Search results will show here -->
			<div id="result-table">

			</div>


		</div>


  <!-- Search AJAX controller module -->
	<script src="{{ url_for('static', filename='js/searchbox.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ugly_js_for_search_person.js') }}"></script>
	<script>
        /**
         * Materialize Controller code
         */
		$(document).ready(function(){
			$('.collapsible').collapsible();
			$('select').material_select();
		});
	</script>

{% endblock %}
