{% extends "base.html" %}

{% block main_content %}

		<div class="container">
			<div class="container">
				<br>
				<!--form-->
					<div class="row valign-wrapper">
						<div class="input-field col s3 left">
							<select id="direction" name="direction" onchange="change_searchbox()">
								<option value="name">姓名</option>
								<option value="apart">寝室</option>
								<option value="depart">部门</option>
								<option value="id" selected>编号</option>
								<option value="school">学院</option>
							</select>
						</div>
						<div class="input-field col s8" id="content-wrap">
							<input name="content" id="content" type="text" class="black-text" onkeypress="EnterKeyToSearch()" onchange="tip_on_content_keywordbox()" required>
                            <label id="label_for_content" for="content">查询关键字。为空时点击搜索，显示全部数据</label>
						</div>
						<!-- original -->
						<!--button class="btn-flat waves-effect waves-dark col s1 right valign" type="submit"><i class="material-icons">search</i></button-->
						<!-- AJAX ver -->
						<button class="btn-flat waves-effect waves-dark col s1 right valign" onclick="search()"><i class="material-icons">search</i></button>
					</div>
				<!--/form-->
			</div>

            <!-- Search results will show here -->
			<div id="result-table">
                    <div class="card" id="default-tips">
						<div class="card-content" style="letter-spacing: 5px">
							<div class="row">
								<span class="card-title col s4 left">提示</span>
							</div>

							<div class="row" style="background-color: #F2F2F2">
								<span class="card-content" >查询关键字输入框为空时，点击搜索可以显示全部数据</span>
							</div>
						</div>
					</div>
			</div>


		</div>


  <!-- Search AJAX controller module -->
	<script src="{{ url_for('static', filename='js/searchbox.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ugly_js_for_search_person.js') }}"></script>
	<script>
        /**
         * Materialize Controller code
         */
		$(document).ready(function(){
			$('.collapsible').collapsible();
			$('select').material_select();
		});
	</script>
    <script>
        /**
         * Control the tip text for keyword box
         */
        function tip_on_content_keywordbox(){
            var content_keywordbox = document.getElementById("content");
            var label = document.getElementById("label_for_content");

            if(content_keywordbox.value == "")
                label.innerHTML = "查询关键字。为空时点击搜索，显示全部数据";
            else
                label.innerHTML = "查询关键字";

        }
    </script>

{% endblock %}
